@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --yellow:#ffc600;
}

a{
    color: black;
    text-decoration: none;
}
body{
    background-image: url("./images/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
    color: black;

}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}



.nav{
    display: grid;
    
    grid-template: repeat(1, 1fr) / repeat(5, 1fr);
   text-align: center;
    column-gap: 1rem;
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    
    
    font-family: 'montserrat';
    font-weight: bolder; 
}

li{
    background-color: var(--yellow);
    display: inline;
    text-align: center;
    padding: .5rem 0;
}

.hero-grid{
    display: grid;
   grid-template-columns: repeat(3 , 1fr);
   grid-template-rows: repeat(3,1fr);
   row-gap: 1rem;
   
    
}

.heroDiv{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-left: 2.5rem;
    padding: 1rem;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://d4t7t8y8xqo0t.cloudfront.net/resized/750X436/eazytrendz%2F2973%2Ftrend20201029040040.jpg");
}

.hero-content{
    background-color: var(--yellow);
    display: inline;
    font-size: 3rem;
    padding: .5rem;
    position: relative;
    top: 1rem;
}

.btn{
    position: relative;
    top: 3.5rem;
    background-color: #2c2c2c;
    padding: 1rem;
    color: white;
    border-radius: 0.5rem;
    font-weight: bolder;
    font-size: 1.5rem;
    
}
.btn:hover{
    border-style: none;
    border: solid white 2px;
    
}

.cta1 , .cta2 , .cta3{
    
    background-color: var(--yellow);
    margin: 0 2rem;
    
    padding: 1rem;
    
    text-align: center;
    padding-top: 2rem;
    
}
.cta1{

}

.price{
    font-size: 2rem;
    margin: 0;
    
}

.first-sec{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    row-gap: 50px;
    margin: 3rem 7rem;
}

.first-sec-grid-content-div{
    
    background-color: var(--yellow);
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
    
}
.first-sec-img{
    height: 200px;
    width: 300px;
    padding-top: 1rem;
    border-bottom-left-radius: 1rem;
}
.first-sec-heading{
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 1rem;
    
}


.gallery-heading-div{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    text-align: center;
    align-items: center;
}

.gallery-heading{
    grid-column-start: 2;
      font-size: 2rem;
      color: white;
      font-family: montserrat;
      font-weight: bolder;
}


.gallery-design1{
    background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
    height: 10px;
    margin-right: 1rem;
}
.gallery-design2{
    background: linear-gradient(to var(--direction, right), var(--yellow), transparent);
    height: 10px;
    margin-left: 1rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
    margin-left: 2rem;
    align-items: center;

}